# piptools: python3

# Note that lyft-python in base also requires >= some version and your repo
# must always require == a version greater than lyft-python base.
# If your repo doesn't meet that requirement your tests will fail.


# Dispatching system for parties to subscribe to events
# Supports per-endpoint timing in flask
# License: MIT
# Upstream url: https://pypi.python.org/pypi/blinker
blinker==1.4

# AWS client library
# License: MIT
# Upstream url: https://github.com/boto/boto/
boto==2.47.0

# The modular source code checker: pep8, pyflakes and co
# License: MIT
# Upstream url: http://bitbucket.org/tarek/flake8
flake8==3.3.0

# Coroutine-based network library
# License: MIT
# Upstream url: http://www.gevent.org/
gevent==1.2.1

# Lightweight in-process concurrent programming
# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
greenlet==0.4.12

# WSGI HTTP Server for UNIX
# License: MIT
# Upstream url: https://github.com/benoitc/gunicorn
gunicorn==19.7.1

## A Python source code analyzer.  Used to enforce Python 3 compatibility.
# License: GPL
# Upstream url: https://github.com/PyCQA/pylint
-e git+git://github.com/lyft/pylint@lyft_pylint#egg=pylint

# Testing library
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest
pytest==3.1.1

# Thin-wrapper around the mock package for easier use with py.test
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest-mock/
pytest-mock==1.1

# A flake8 plugin that helps you write tidier imports.
# License: ISCL
# Upstream url: https://pypi.python.org/pypi/flake8-tidy-imports
flake8-tidy-imports==1.0.6

# Flask service framework
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
Flask==0.12.2

# Scripting support for Flask
# License: BSD
# Upstream url: http://github.com/techniq/flask-script
Flask-Script==2.0.5

# A Python library of common idioms used in Lyft microservices
# License: N/A
# Upstream url: https://github.com/lyft/python-lyft-stdlib/
lyft-stdlib==113.0.0

# A Python library of request client and helper modules for Lyft
# License: N/A
# Upstream url: https://github.com/lyft/python-lyft-requests
lyft-requests==0.16.0

## Uncomment the following for mongo support
#mongoengine==0.8.7
#flask-mongoengine==0.7.1
#pymongo==2.7.2
#lyft-mongo==1.0.4

# Sanctioned DynamoDB ODM, uncomment for dynamo support
# A pythonic interface to Amazon's DynamoDB
# License: MIT
# Upstream url: https://github.com/jlafon/PynamoDB
#pynamodb==3.2.0

# Code coverage plugin for py.test
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest-cov
pytest-cov==2.5.1

# YAML parser and emitter for Python
# License: MIT
# Upstream url: http://pyyaml.org/wiki/PyYAML
PyYAML==3.12

# A wrapper around gunicorn to handle graceful restarts correctly
# License: BSD
# Upstream url: https://github.com/lyft/rainbow-saddle
rainbow-saddle>=0.4.0

# A simple statsd client.
# License: MIT
# Upstream url: https://github.com/jsocol/pystatsd
statsd==3.2.1

# Type Hints for Python
# License: PSF
# Upstream url: https://github.com/python/typing
typing==3.6.1

# Superset Dependencies
mysqlclient
wtforms==2.1
amqp==1.4.9
anyjson==0.3.3
psycopg2 # Postgres driver
sqlalchemy-redshift # Redshift driver
pyhive # Presto driver
redis

# oauth
flask-oauthlib

-e upstream/
